<html ng-app="client">
<head>
    <title>Client</title>
</head>
<body ng-controller="msg">

<h4>Client</h4>

    Scrollback:
    <br>
    <div style="background: #eee; font-family: monospace; height: 200px; overflow: auto;">
        <p ng-repeat="e in scrollback">
            <span ng-bind="e.timestamp | date: 'HH:mm'" style="font-size: .75em;"></span>
            <span ng-bind="e.user"></span>:
            <span ng-bind="e.msg"></span>
        </p>
    </div>
    <br>
    <br>

    <form ng-submit="sengMsg(input)">

        User:
        <input type="text" ng-model="input.user">
        <br>

        <input type="text" ng-model="input.msg" style="width: 600px;">
        <br>

        <input type="submit" value="Send">

    </form>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <script src="client.js"></script>
</body>
</html>
