<h1 class="page-header" ng-bind="activeBoard.board_name"></h1>

<div ng-include="'views/index.html'"></div>

<div ng-repeat="p in posts track by $index" class="row well">
    <div class=" col-xs-2">
        <strong ng-bind="p.user_name"></strong><br>
        <small ng-bind="p.post_created | date:'medium'"></small>
    </div>
    <div class=" col-xs-10" ng-bind-html="p.post_contents | markdown"></div>
</div>

<form ng-submit="addPostToBoard(postContents)">
<div class="form-group">
    <h4>Add post</h4>
    <textarea cols="50" rows="8" ng-model="postContents" class="form-control"></textarea>
    <br>
    <input type="submit" value="Submit" class="btn btn-primary">
    <label>
        <input type="checkbox" ng-model="showPreview">
        Live Preview
    </label>
</div>
</form>

<div ng-show="showPreview">
    <h4>Live Preview</h4>
    <div ng-bind-html="postContents || '' | markdown">
    </div>
</div>

<!--
<h4>Client</h4>

    Scrollback:
    <br>
    <div style="background: #eee; font-family: monospace; height: 200px; overflow: auto;">
        <p ng-repeat="e in scrollback">
            <span ng-bind="e.timestamp | date: 'HH:mm'" style="font-size: .75em;"></span>
            <span ng-bind="e.user"></span>:
            <span ng-bind="e.msg"></span>
        </p>
    </div>
    <br>
    <br>

    <form ng-submit="sengMsg(input)">

        User:
        <input type="text" ng-model="input.user">
        <br>

        <input type="text" ng-model="input.msg" style="width: 600px;">
        <br>

        <input type="submit" value="Send">

    </form>
-->
